:root {
    --primary: #120D43;
    --secondary: #178BF6;
    --tertiary: #DBBA24;
    --white:#fff;
    --gray:#f7f8f9;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: calc(0.8em + 1vh);
    overflow: hidden;
}

.container-fluid {
    padding:0em !important;
    overflow: hidden;
    height: 100vh;
}

#map {
    position:absolute;
    top:0%;
    left: 0;
    right: 0;
    width: 100%;
    height: 57vh;
    z-index: 0;
}

.side-section {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 0;
    height: 50vh;
    overflow: auto;
    border-radius: 1em;
    padding-bottom: 5rem;
    padding-top: 0.2em;
    background-color: var(--white);
    /* border-top-left-radius: 2em;
    border-top-right-radius: 2em; */
    border-top-width: 2px;
    border-style: solid;
    border-bottom-width: 0px;
    border-left-width: 0;
    border-right-width: 0;
    border-color:var(--black);
}

.search-section{
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1;
    padding:0.5em 0.8em;
    /* background-color:var(--white); */
    /* box-shadow: 2px 2px 0.2em #ddd; */
}

.input-group-text {
    border-radius: 5rem;
    background-color: var(--white);
}

.input-group-text:first-child {
    border-right-width: 0px;
}

.input-group-text:last-child {
    border-left-width: 0px;
}

.form-control {
    border-left-width: 0px;
    border-right-width: 0px;
}

.list-group {
    border-radius: 1em;
    overflow: auto;
}

.list-group-item {
    font-size: 0.95rem;
}

.mapboxgl-ctrl-logo {
    display: none !important
}

.img {
    height: 6vh;
    margin-right: 1em;
}

.list-group > .card-header {
    padding: .2rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 0px solid rgba(0,0,0,.125);
    text-align: center;
    font-size: 1rem;
}

.empty-result {
    background-color: var(--white);
}

.btn-cust {
    background-color: var(--secondary);
    color: white;
}

.mapboxgl-ctrl-bottom-left {
    bottom: 0;
    left: 0% !important;
}

.mapboxgl-ctrl-group {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border:0px;
    background-color: transparent;
}

.mapboxgl-ctrl-group > button {
    margin: 1em;
    border-radius: 50%;
    background-color: white;
}

/* popup */
.card {
    font-size: 0.9rem;
    overflow: auto;
    margin-bottom: 1em;
    padding: 0em;
    border:0px;
    border-radius: 0px;
    box-shadow: none
}

.card-content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: row;
}

.card-h {
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--gray);
    padding: 0.2em 0.5em;
    margin: 0.2em 0.8em;
}

.card-h > p {
    margin-left: 4em;
    margin-bottom:0;
    color:var(--primary-light);
}

.card-title-section {
    padding-top: 1em;
}

.card-info {
    padding: 0.2em 1em;
}

.item {
    margin:0;
}

.item > span {
    font-weight: 600;
}

.link {
    color: var(--black);
}

.mapboxgl-popup-close-button {
    z-index: 1;
    font-size: 1rem;
}

.mapboxgl-popup-content {
    padding:0px !important;
    width: 300px;
    border-radius: 1em;
    overflow: auto;
}

.geolocate {
    background-color: white;
    padding: 0.4em 0.7em;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    margin: 0.7rem 0px;
    font-size: 1rem;
}

/* Media Queries */
@media (min-width:50em) {
    body {
        background-color: var(--gray);
    }
    .container-fluid {
        width: 100vw;
        height: 90vh;
        overflow: hidden;
    }
    #map {
        left: 0%;
        height: 100vh;
        right: 0;
        top:0;
        bottom:0;    
        width: 100%;    
    }

    .search-section {
        top: 0;
        left: 0%;
        width: 30%;
        height: 100vh;
        margin-bottom: 1em;
        box-shadow: none;
        background-color: #f7f8f9b5;
    }

    .list-group .card-header {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .side-section {
        top: 16%;
        left: 1%;
        width: 28%;
        height: 89vh;
        padding:0px;
        z-index: 1;
        background-color: transparent;
        border-width: 0px;
    }
    
    .mapboxgl-ctrl-bottom-left {
        bottom: 0;
        left: 30% !important;
    }
}