:root {
    --primary: #120D43;
    --secondary: #178BF6;
    --tertiary: #DBBA24;
    --white:#fff;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: calc(0.8em + 1vh);
}


/* Main section */
.main {
    position: absolute;
    z-index: 1;
    width: 100vw;
    background-image: radial-gradient(#fbfbfbad, transparent);
}

.navbar {
    background-color: var(--primary);
    padding: 0.3em 1em;
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: none;
}

.navbar-nav {
    list-style: none;
    margin: 0px;
}

.navbar-nav > li {
    list-style-type: none;
}

.navbar-nav > li > a {
    text-decoration:none;
    color:var(--white);
}

#map {
    width:100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    background-image: url(images/bg-imge.png);
    background-size: cover;
}

.mapboxgl-ctrl-logo {
    display: none !important
}

.panel-title {
    font-size: 0.875em;
    text-align: center;
    margin: 0px;
    font-weight: 700;
}

/* Search section */
.section-links {
   padding:  2em 1em;
   max-width: 1080px;
   margin: 3em auto 0em;
}

.search-tab {
    background-color: var(--white);
    padding:0.5em 0.4em;
    box-shadow: 2px 2px 0.1em #ddd;
    position: relative;
    border-radius: 8px;
}

.search-tab > h3 {
    font-size: 1.2rem;
}

.search-tab .input-group .input-group-prepend .input-group-text {
    background-color: var(--white);
    border-color: var(--tertiary);
    border-right: 0px;
    border-width: 2px;
}

.search-tab .input-group .input-group-append .input-group-text {
    background-color: var(--tertiary);
    color: var(--white);
    border-width: 2px;
    border-color: var(--tertiary);
}

.search-tab .input-group .form-control {
    border-left: 0px;
    border-color: var(--tertiary);
    border-width: 2px;
}

/*Result */
.result {
    top:80%;
    right:3%;
    left: 5%;
    width:90%;
    padding:0.1em;
    border-radius: 0em;
    z-index:800;
    max-height: 30vh;
    position: absolute !important;
    background-color: var(--white);
    box-shadow: 2px 2px 0.9em #ddd;
    overflow-y: auto;
}


.result li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1rem;
}

.result li:hover {
    background-color: #dddddd;
}

/* Links */
.links {
    margin-top: 1.5em;
}

.custom-link {
    background-color: var(--white);
    /* padding:0.5em 0.8em; */
    /* display: flex;
    justify-content: space-between; */
    display: table;
    margin-bottom: 0.625em;
    margin: 0.6em;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 0 0 1.5em rgba(0,0,0,.14);
    color:var(--tertiary);
}

.custom-link > span:last-child {
    color:var(--primary);
}

.custom-link:focus, .custom-link:hover {
    text-decoration: none;
    background-color: var(--primary);
    color:var(--tertiary) !important;
}
 
.custom-link:hover > span:last-child {
    color:var(--white);
}

.text-label {
    text-align: left;
}
.custom-link-span {
        /* width: 15%; */
    border-right: 1px solid #a2a4a4;
    color: #ffd34d;
    display: table-cell;
    margin-right: 10px;
    padding: 16px;
    text-align: center;
    width: 63px;
    font-size: 1.5rem;
}

.footer {
    height:200px;
    width: 100%;
    background-color: var(--secondary);
}
/* helper styles */
.img {
    height: 6vh;
}

.img-logo {
    height: 6vh;
    mix-blend-mode: screen;
}

.btn-cust {
    background-color: var(--secondary);
    color: white;
}


/* Media Queries */
@media (min-width:50em) {
    .section-links {
        max-width:66%;
    }
    .panel-title {
        font-size: 1.125em;
    }
    .links {
        margin-left: 1.5em;
    }
    .navbar-brand {
        display: block;
    }
}